<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VUE FEEDBACK APP</title>
</head>
<body>
    <h1>The Vue Feedback App</h1>
    <p>Welcom, and please tell us about us</p>
    <div id="app">
        <p :title="form_title">
            {{form_title}}
        </p>
        <form @submit.prevent="onSubmit">
            <custom-feedback
                v-for="input in inputs"
                v-model="input.value"
                :f_value="input.value"
                :f_id="input.id"
            >
            {{input.label}}
            </custom-feedback>
           
            <div>
                <custome-button
                 type="submit"
                >
                    send us your feedback
                </custome-button>
            </div>
            <p>
                {{form_error}}
            </p>
        </form>
        <p :title="feedback_title">
            {{feedback_title}}
        </p>
        <ul>
            <feedback-feed
                v-for="(feedback, index) in feedbacks"
                :feedback="feedback"
                :key="index"
            >
            </feedback-feed>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        Vue.component('custom-feedback', {
            props: ['f_value', 'f_id'],
            template: `
                        <div>
                            <label :for="f_id">
                                <slot></slot>
                            </label>
                            <input 
                                type="text" 
                                :id="f_id"
                                :value="f_value"
                                @input="$emit('input', $event.target.value)"
                                required
                            />
                        </div>
                        
            `,
        });
        Vue.component('custome-button', {
            props: [],
            template: `<button>
                <slot></slot>
            </button>`,
        })
        Vue.component('feedback-feed',{
            props: ['feedback'],
            template: `
            <li>
                <span>{{feedback.feedback_type}}</span>
                <span>feedback.feedback_message</span>
            </li>
            `
        });
        new Vue({
            el:'#app',
            data: {
                form_title: "Feedback Form",
                feedback_title: "Feedback Feeds",
                form_error: '',
                feedbacks: [],
                inputs: [
                 {
                    id: 'feedback_type',
                    value:'',
                    label: 'Feedback Type',
                 },
                 {
                    id: 'feedback_message',
                    value:'',
                    label: 'Feedback Message',
                 }
                ]
            },
            methods: {
                onSubmit(){
                    const userFeedback =
                    this.inputs.reduce( function(result, input){
                         result[input.id] = input.value;
                        return result;  
                    }, {});
                    let feedback = JSON.parse(
                        localStorage.getItem('feedback') || "[]"
                    )
                    const messageExist =
                    feedback.find(function(fb){
                        return fb.feedback_message === userFeedback.feedback_message
                    })
                    if(!messageExist){
                        feedback = [
                        ...feedback,
                        userFeedback,
                    ];
                    }
                    localStorage.setItem(
                        'feedback',
                        JSON.stringify(feedback)
                    );
                    this.inputs.map( function(input){
                        return input.value = '';
                    })
                },
                getFeedback(){
                    const feedbacks = 
                    JSON.parse(
                    localStorage.getItem('feedback') || "[]"
                    );
                    if(feedbacks.length < 1){
                        console.log("Your feedback is empty");
                        return;
                    } 
                }
            }
        })
    </script>
</body>
</html>